body{
    display: flex;
    
}
aside{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    position: relative;
    left:0;
    height:600px;
    background-color: antiquewhite;
    width:300px;
    gap:15px;
}
aside input{
    height:30px;
    width:250px;
    padding:2px 4px;
    border:1px solid black;
    border-radius:8px;
    
}
select{
   height:30px;
    width:250px; 
}
aside button{
    height:30px;
    width:250px; 
}
#container{
    width:80%;
    height: auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
     grid-template-rows: repeat(2,1fr);
     background-color: aqua;
     z-index: 1;
}
.card{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
.card h3{
    margin:0;
}
.card button{
  height:30px;
    width:100%; 
}
.main{
    display: flex;
    flex-direction: column;
}
 