.form input{
    height:30px;
    width:250px;
    padding:2px 4px;
    border:1px solid black;
    border-radius:8px;
}
.form button{
    width:250px;
    height:30px;
    border:none;
    background-color: royalblue;
    color:white;
    border-radius:8px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    height:200px;
    width:300px;
    background-color: antiquewhite;
}